header
  .navbar.navbar-light.bg-faded
    a.navbar-brand(href='#') TheLab
    form.form-inline.pull-xs-right
      input.form-control(type='text' placeholder='Search')
      button.btn.btn-secondary-outline(type='submit') Search

  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 TheLab
      p.lead.lead-inline Created with :
      ul.list-inline.list-jumbotron
        li.list-inline-item
          a(href='#') Jekyll
        span - 
        li.list-inline-item
          a(href='#') Jade
        span - 
        li.list-inline-item
          a(href='#') SASS
        span - 
        li.list-inline-item
          a(href='#') Bootstrap 4
        span - 
        li.list-inline-item  
          a(href='#') Autoprefixer
        span - 
        li.list-inline-item  
          a(href='#') Browser-sync
        span - 
        li.list-inline-item 
          a(href='#') Gulp
